@model List<Article>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Atakanın Blogu</h1>
    <p>Yazılıma Dair Çeşitli Makaleler...</p>
</div>


@foreach (var article in Model)
{
    <h1>@article.Title</h1> <br />
    <h3>@article.Content</h3> 
    <br />
    <br />
}